{% extends "app1/layout.html" %}


  {% block body %}


    <style>
      body {
        text-align: center;
        background-color:#F4F2EE;
      }
      table{
        border: 1px solid black;
        border-collapse: collapse;
      }
          
      td{
        border: 1px solid black;
        padding: 2px;
        text-align:center;
      }
          
      th{
      border: 1px solid black;
      padding: 2px;
      text-align:center;
      }
      .id-num a{
        border-radius:30px ;
      }
    </style>


   

      <br>
      <h1 style="text-align:center;  "> <b> <b>Here is our Items</b></b></h1>
      <br>
      <br>


      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>name</th>
          <th>Author</th>
                
          {% for b in books %}
            <tr>
              <td class='id-num'><a href = "{% url 'app1:add' b.id %}">{{b.id}}</a></td>
              <td>{{b.name}}</td>
              <td>{{b.Author}}</td>
                   
          {% endfor %}
            </tr>
        </tr>
      </table>
  {% endblock %}